@font-face {
    font-family: 'opensans';
    src: font-url('opensans-regular-demo-webfont.eot');
    src: font-url('opensans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('opensans-Regular-webfont.woff2') format('woff2'),
         font-url('opensans-Regular-webfont.woff') format('woff'),
         font-url('opensans-Regular-webfont.ttf') format('truetype'),
         font-url('opensans-Regular-webfont.svg#quicksandregular') format('svg');
    font-weight: bold;
    src: font-url('opensans-bold-webfont.eot');
    src: font-url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('opensans-bold-webfont.woff2') format('woff2'),
         font-url('opensans-bold-webfont.woff') format('woff'),
         font-url('opensans-bold-webfont.ttf') format('truetype'),
         font-url('opensans-bold-webfont.svg#quicksandregular') format('svg');

    font-style: normal;
    src: font-url('opensans-light-webfont.eot');
    src: font-url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('opensans-light-webfont.woff2') format('woff2'),
         font-url('opensans-light-webfont.woff') format('woff'),
         font-url('opensans-light-webfont.ttf') format('truetype'),
         font-url('opensans-light-webfont.svg#quicksandregular') format('svg');


}