// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/h2

h1 
  font-size: 20px
  color: #ff4542
  font-weight: bold
p
  font-size: 20px
  line-height: 30px

h2 
  font-size: 60px
  line-height: 60px

#header
  background: asset-url("banner-img.png") no-repeat center
  background-color: #ececec
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  font-family: open sans, helvetica, sans-serif 
  height: 775px
  width: 100%
.logo-holder
  margin-top: 50px
  margin-left: 100px
  
#banner
  .banner-content
    h2
      line-height: 85px
    color: #fff
    margin-top: 100px
  p
    line-height: 30px
    font-size: 18px
    margin-top: 70px
  .bnr-chg-clr
    color: #f13a37
    font-weight: bold
  .arrow
    width: 60px
    height: 60px
    line-height: our
    border-radius: 50%
    background: #f13a37
    text-align: center
    margin: 0 auto
    margin-top: 160px
    padding-top: 20px
  .txt
    p
      color: #fff
      text-align: center
      font-weight: bold
      margin-top: 10px

#what-we-do
  background-color: #ececec

  h2
    color: #f13a37
    margin-top: 130px
  .sec-wt-we-do 
    font-weight: bold
  p
    margin-top: 40px
    font-size: 18px

  .cir1,
  .cir2,
  .cir3
    border: 3px solid #fff
    border-radius: 50%
    display: black
    height: 150px
    width: 150px
    text-align: center
    margin-top: 50px
    margin: 0 auto

  .cir1
    background-color: #ec951d
    padding: 35px 10px

  .cir2
    background-color: #ff4542
  .cir3
    background-color: #7dacc9 
    padding: 35px 10px
  .wt-we-do-btn
    text-align: center
    border-radius: 0px
    text-transform: uppercase

    border-color: red
    margin-top: 20px
    padding: 10px 20px
    color: red
    margin-left: 120px
    &:hover
      background-color: #f13a37
.title-border
  width: 300px
  border-top: 1px solid #f13a37
  display: block
  margin: 0 auto
.row
  margin-top: 55px
  margin-bottom: 160px

#our-work
  background: asset-url("our-work-banner.png") no-repeat center
  background-color: #ececec
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  width: 100%
  display: block

  .our-work-content.text-center
    color: #fff
    margin-top: 130px
  p
    margin-top: 30px


  .title-border2
    width: 200px
    border-top: 1px solid #fff
    display: block
    margin: 0 auto
  .work-group
    margin-bootom: 30px

  .our-work-btn
    text-align: center
    border-radius: 0px
    text-transform: uppercase
    border-color: #fff
    background: none
    color: #fff
    padding: 10px 20px
    margin-top: 60px
    margin-bottom: 130px
   

 
#our-team
  background-color: #ececec

  h2
    color: #f13a37
    margin-top: 80px
  .title-border3
    width: 200px
    border-top: 1px solid #f13a37
    display: block
    margin: 0 auto
  .our-team-content
    p
      margin-top: 30px
  .personal.details
    p
      font-size: 18px
      margin-top: -10px
  .tem-memb-pic
    margin-top: 50px
  .our-team-btn
    text-align: center
    border-radius: 0px
    text-transform: uppercase
    border-color: #f13a37
    background: none
    color: #f13a37
    padding: 10px 20px
    margin-top: 30px

#footer-top
  background: asset-url("footer-imag.png") no-repeat center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  font-family: open sans, helvetica, sans-serif
  background-color: #212024

  .footer-left-btn
    text-align: center
    border-radius: 0px
    text-transform: uppercase
    border-color: #fff
    background: #c3221f
    color: #fff
    padding: 10px 20px
    margin-top: 30px
    margin-left: 400px

  .footer-right-btn
    text-align: center
    border-radius: 0px
    text-transform: normal
    font-weight: bold
    border-color: #fff
    background: #c3221f
    color: #fff
    padding: 10px 40px 10px 80px
    margin-top: 30px

  .arrow-up
    width: 60px
    height: 60px
    line-height: 60px
    border-radius: 50%
    background: #212024
    color: #fff
    font-size: 50px
    text-align: center
    margin: 0 auto
    margin-top: 105px

#footer
  background-color: #212024
  height: 566px
  .footer-content
    margin-top: 80px
    line-height: 30px
  .footer-group
    margin-bootom: 90px

  p
    color: #c2c0c0
    border-bottom: 1px solid #454b53


  a,
  i
    color: #a1a2a4
    text-decoration: none
  ul
    padding-left: 10px
  span
    i
      border: 1px solid #454b53
      margin-right: 10px
      padding: 5px 10px
      margin-bottom: 10px
  li
    i
      margin-right: 10px
      line-height: 20px

  .footer-btom-content
    p
      border-top: 1px solid #454b53
      border-bottom: none
      text-align: center
      margin-top: 190px
      padding: 25px
      font-size: 14px





